---
layout: main
title: Archive
permalink: /archive/
---

<section class="archive-post-list">

   {% for post in site.posts %}
       {% assign currentDate = post.date | date: "%Y" %}
       {% if currentDate != myDate %}
           {% unless forloop.first %}</ul>{% endunless %}
           <h1>{{ currentDate }}</h1>
           <ul style="list-style-type: none">
           {% assign myDate = currentDate %}
       {% endif %}
       <li><a href="{{ site.baseurl }}{{ post.url }}" style="color:#263959; text-decoration:none; transition:color .1s; font-size: 24px"><span>{{ post.date | date: "%B %-d, %Y" }}</span> - {{ post.title }}</a></li>
       {% if forloop.last %}</ul>{% endif %}
   {% endfor %}

</section>