---
layout: main
title: Archive
permalink: /archive/
---


<style type="text/css">
  
  

.archive-post-list{
    margin-left:0;
    list-style:none
}
.archive-post-list>li{
    margin-bottom:50px;
    overflow:hidden
}
.archive-post-list h2{
    margin-bottom:0
}
</style>

<section class="archive-post-list">

   {% for post in site.posts %}
       {% assign currentDate = post.date | date: "%Y" %}
       {% if currentDate != myDate %}
           {% unless forloop.first %}</ul>{% endunless %}
           <h1>{{ currentDate }}</h1>
           <ul>
           {% assign myDate = currentDate %}
       {% endif %}
       <li><a href="{{ site.baseurl }}{{ post.url }}"><span>{{ post.date | date: "%B %-d, %Y" }}</span> - {{ post.title }}</a></li>
       {% if forloop.last %}</ul>{% endif %}
   {% endfor %}

</section>